@import url('http://fonts.cdnfonts.com/css/american-typewriter');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'American Typewriter', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(175deg, rgb(197, 196, 196), rgb(173, 173, 173));
    overflow-x: hidden;
}

#container{
    height: 90vh;
    width: 60vw;
    border: 2px solid black;

    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

#container::-webkit-scrollbar{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(107, 107, 107, 0.356);
}

#container::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgba(48, 51, 50, 0.205);
}

#topSection{
    height: 22vh;
    padding-top: 2vh;
    width: 100%;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: space-between;
}

#topSection #infosCharacter{
    display: flex;
    margin-left: 2vh;
}

#topSection #characterInfos ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 5vh;
}

#topSection #characterInfos ul input{
    text-align: center;
    background: transparent;
    border: none;
    outline: none;
    font-size: 3vh;
    color: black;
    height: 2.5vh;
    margin-top: -.5vh;
}

#topSection #characterInfos ul label img{
    height: 2.5vh;
    width: 17vh;
}

#topSection #characterPic{
    margin-top: 1.5vh;
}

#topSection #characterPic img{
    height: 20vh;
    width: 16vh;
    border-radius: 5px;
}

#topSection #logo{
    margin-right: 8vh;
}

#topSection #logo img{
    height: 30vh;
    width: 30vh;
}

#middleSection{
    margin-top: 10vh;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#middleSection div{
    width: 50vh;
}

#middleSection div img{
    width: 50vh;
    height: 5vh;
}

#middleSection #leftSection #attributes,
#middleSection #leftSection #attributesTraining{
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    flex-wrap: wrap;
    width: 50vh;
    list-style: none;
}

#middleSection #leftSection #attributes li,
#middleSection #leftSection #attributesTraining li{
    width: 2vh;
    margin-left: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#middleSection #leftSection #attributes li input,
#middleSection #leftSection #attributesTraining li input{
    overflow-y: hidden;
    font-size: 3vh;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 3px;
    color: black;
    outline: none;
}

#middleSection #leftSection #attributes li input{
    width: 5vh;
    height: 6vh;
    font-size: 4vh;
}

#middleSection #leftSection #attributesTraining li input{
    width: 4vh;
    height: 3vh;
    border: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px dashed black;
}

input::-webkit-inner-spin-button{
    display: none;
}

#middleSection #leftSection #attributesTraining{
    margin-top: 2vh;
}

#middleSection #leftSection #vontadeSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    list-style: none;
}

#middleSection #leftSection #vontadeSection #title img{
    width: 40vh;
    height: 4vh;
}

#middleSection #leftSection #vontadeSection #vontadeValue{
    margin-right: 2vh;
}

#middleSection #leftSection #vontadeSection #vontadeValue input{
    width: 10vh;
    height: 3vh;
    outline: none;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    background: aliceblue;
    color: black;
}

#middleSection #pericias{
    width: 50vh;
}

#middleSection #pericias #title img{
    width: 50vh;
    height: 5vh;
}

#middleSection #pericias #periciasTopInfos{
    width: 50vh;
    display: flex;
}

#middleSection #pericias #periciasTopInfos div{
    width: 20vh;
    font-size: larger;
    margin-left: 3vh;
    text-align: center;
    border-image: linear-gradient(90deg, transparent 20%, rgb(0, 204, 255) 50%, transparent 80%) 30;
    border-bottom: 2px solid;
}

#middleSection #pericias #periciasInfos{
    margin-top: 2vh;
}

#middleSection #pericias #periciasInfos #pericia{
    display: flex;
    margin-top: 1vh;
    width: 50vh;
}

#middleSection #pericias #periciasInfos #pericia #periciaBonus{
    width: 6vh;
    margin-right: 11vh;
    border-radius: 3px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px dashed black;
}

#middleSection #pericias #periciasInfos #pericia div{
    display: flex;
    flex-direction: row;
}

#middleSection #pericias #periciasInfos #pericia div #periciaName{
    width: 18vh;
    border-radius: 3px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px dashed black;
}

#middleSection #pericias #periciasInfos #pericia div #periciaValue{
    width: 6vh;
    margin-left: 2vh;
    border-radius: 3px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px dashed black;
}

#middleSection #pericias #periciasInfos #pericia input{
    background-color: transparent;
    border: none;
    height: 3vh;
    text-align: center;
    outline: none;
}

#vontadeSection{
    margin-top: 2vh;
}