@import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap');
/* @import url('http://fonts.cdnfonts.com/css/american-typewriter'); */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Blinker', sans-serif;
    user-select: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(90deg, rgb(46, 46, 46), rgb(61, 61, 61));
    background-size: 100%;
    opacity: .65;
    width: 100vw;
    height: 100vh;
}

#container{
    background: linear-gradient(90deg, rgb(2, 159, 199), rgb(7, 146, 189));
    width:35vh;
    height: 7vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: aliceblue;
}

#container img{
    width: 5vh;
    height: 5vh;
}

#container div{
    font-size: 3vh;
}